<template>
    <div class="bannertop">
        <a :href="link">
            <img  :src="imagen" alt="">
        </a>
    </div>
</template>

<script>
export default {
    props:['bannergeneral','linkbannergeneral','bannerssector','bannersdelegation'],
    data(){
        return  {
            sectores: false,
            delegaciones: false,
            imagen: '', 
            link: '',
            sector: false,
            contador: 0
        }
    },
    computed:{
        nombresSectores(){
            if (this.sectores) {
                
                return this.sectores.map( object => object.name)
            }
            return []
        },
         nombresDelegaciones(){
             if (this.delegaciones) {
                 
                 return this.delegaciones.map( object => object.name)
             }
             return []
        },
        sectoresConImagen(){
            let ar = []
            if (this.nombresSectores.length >= 1) {
                
                if (this.bannerssector && this.bannerssector.length > 0) {
                    this.bannerssector.forEach( value => {
                        if ( this.nombresSectores.indexOf(value.nombre_sector) >= 0) {
                            let obj = {}
                            obj.nombre = value.nombre_sector
                            obj.imagen = value.imagen
                            obj.link = value.link
                            ar.push( obj )
                        }
                    })
                    
                return ar
                }
            }
            // else{
            //     if (this.bannersdelegation && this.bannersdelegation.length > 0) {
            //         this.bannersdelegation.forEach( value => {
            //             if ( this.nombresDelegaciones.indexOf(value.nombre_delegacion) >= 0) {
            //                 let obj = {}
            //                 obj.nombre = value.nombre_delegacion
            //                 obj.imagen = value.imagen
            //                 ar.push( obj )
            //             }
            //         })
                    
            //     return ar
            //     }
            // }
            return []
        },
        delegacionesConImagen(){
            let ar = []
            if (this.bannersdelegation && this.bannersdelegation.length > 0) {
                this.bannersdelegation.forEach( value => {
                    if ( this.nombresDelegaciones.indexOf(value.nombre_delegacion) >= 0) {
                        let obj = {}
                        obj.nombre = value.nombre_delegacion
                        obj.imagen = value.imagen
                        obj.link = value.link

                        ar.push( obj )
                    }
                })
                
            return ar
            }
            return []
        }
    },
    methods:{
        getImagenSector(pos){
            axios.get('/imagenSector/'+this.sectores[pos].name )
                        .then(response => {
                            this.sector  = response.data[0]
                            if (this.getImagen(this.sector)) {
                                console.log("respuesta axios "+this.getImagen(this.sector))
                              this.imagen = this.getImagen(this.sector)
                            }
                        })
                        .catch(error => {
                            console.log(error.message)
                            // console.log(error)
                            // this.status = error.response.data.status;
                        })
        },
        getImagen(val){
            //console.log("la imagen es "+val.bannertop.imagen)
            return '/storage/'+val.bannertop.imagen
        },
        procesarCambioImagen(){
            if (this.sectores && this.delegaciones) {
                // SI ESTAN VACIOS o HAY MAS 2 QUE TENGAN IMAGEN
                if ( (this.sectoresConImagen.length == 0 && this.delegacionesConImagen.length == 0) || this.sectoresConImagen.length > 1 ) {
                    this.imagen = this.bannergeneral
                    this.link = this.linkbannergeneral
                }
                // SI HAY SECTORES MIRAMOS EN LOS QUE TENGAN IMAGEN
                if (this.sectoresConImagen.length === 1) {
                    this.imagen = '/storage/'+this.sectoresConImagen[0].imagen
                    this.link = this.sectoresConImagen[0].link
                }
                if (this.delegacionesConImagen.length === 1 && this.sectoresConImagen < 1) {
                    this.imagen = '/storage/'+this.delegacionesConImagen[0].imagen
                    this.link = this.delegacionesConImagen[0].link
                }
            }
        }
    },
   created(){
        Event.$on("cambiosFiltroSector", data => {
           
            this.sectores = data
            this.procesarCambioImagen()
            this.contador = 0;
        } );
        Event.$on("cambiosFiltroDelegacion", data => {
            this.delegaciones = data
            this.procesarCambioImagen()
        } );
        this.imagen = this.bannergeneral
        this.link = this.linkbannergeneral
   } 
}
</script>

<style lang="stylus" scoped>
    .bannertop{
        img{
            width:100%
        }
    }
</style>
