<template>
    <div class="carousel">
        <slot></slot>
    </div>
</template>

<script>

import Flickity from 'flickity'
import 'flickity/dist/flickity.min.css'

    export default {
        props:{
            autoplay: { default:true }
        },
        mounted() {
            new Flickity( this.$el , {
                cellAlign: 'left',
                wrapAround: true,
                autoPlay: 3000,
                pauseAutoPlayOnHover: false,
                prevNextButtons: true,
                contain: true
            })
        }
    }
</script>

<style lang="scss">


.carousel-cell {
  width: 100%; /* full width */
//   height: 160px; /* height of carousel */
//   margin-right: 10px;
    img{
        width: 100%;
    }
}


</style>
