<template>
<div v-if="mostramos.length > 0">
    <div  class="home-list-pop list-spac destacado"  v-for="result in mostramos[0].clientes">
        <!--LISTINGS IMAGE-->
        <div class="col-md-2"> <img :src="(result.imagen)?'/storage/'+result.imagen:'/images/transparente.png'" alt=""> </div>
        <!--LISTINGS: CONTENT-->
        <div class="col-md-10 home-list-pop-desc inn-list-pop-desc"> <a :href="`/empresas/${result.id}-${result.nombre}`"><h3>{{ result.nombre }}</h3></a>
            <h4>{{ mostramos[0].nombre }}</h4>
            <p><b>Dirección:</b> {{ result.direccion }}.</p>
            <div class="list-number">
                <ul>
                    <li><img src="images/icon/phone.png" alt=""> {{ result.telefono }}</li>
                    <li><img src="images/icon/mail.png" alt=""> {{ result.email }}</li>
                </ul>
            </div>
            <div class="list-enqu-btn">
                <ul>
                    <li><a href="#!" @click.prevent="$modal.show('contacto', { client: mostramos[0] })"><i class="fa fa-star-o" aria-hidden="true"></i> Contactar</a> </li>
                    <li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Llamar ahora</a> </li>
                </ul>
            </div>
        </div>
    </div>

</div>
<div v-else>
    <div  class="home-list-pop list-spac destacado"  v-for="result in destacadosGeneral">
        <!--LISTINGS IMAGE-->
        <div class="col-md-2"> <img :src="(result.imagen)?'/storage/'+result.imagen:'/images/transparente.png'" alt=""> </div>
        <!--LISTINGS: CONTENT-->
        <div class="col-md-10 home-list-pop-desc inn-list-pop-desc"> <a :href="`/empresas/${result.id}-${result.nombre}`"><h3>{{ result.nombre }}</h3></a>
            <h4>{{ result.sector.nombre }}</h4>
            <p><b>Dirección:</b> {{ result.direccion }}.</p>
            <div class="list-number">
                <ul>
                    <li><img src="images/icon/phone.png" alt=""> {{ result.telefono }}</li>
                    <li><img src="images/icon/mail.png" alt=""> {{ result.email }}</li>
                </ul>
            </div>
            <div class="list-enqu-btn">
                <ul>
                    <li><a href="#!" @click.prevent="$modal.show('contacto', { client: result })"><i class="fa fa-star-o" aria-hidden="true"></i> Contactar</a> </li>
                    <li><a href="#!"><i class="fa fa-phone" aria-hidden="true"></i> Llamar ahora</a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</template>

<script>
export default {
    props:['destacadosGeneral','destacadosSector','selected'],
    data(){
        return{
            sectores:false
        }
    },
    computed: {
        nombresSectores(){
            if (this.sectores) {

                return this.sectores.map( object => object.name)
            }
            return []
        },
        mostramos(){
            let a = []
            if(this.nombresSectores.length == 1){
                a = this.destacadosSector.filter( value => {
                    return value.nombre === this.nombresSectores[0]
                })
            }else if(this.selected){
                 a = this.destacadosSector.filter( value => {
                    return value.nombre === this.selected.nombre
                })
            }
            return a
        }
    },
    created(){
        Event.$on("cambiosFiltroSector", data => {

            this.sectores = data
            // this.selected = false
        } );
    },
    mounted(){
        if(this.selected){

        }
    }
}
</script>
