<template>
    <ais-index
    app-id="4EA552DO46"
    api-key="1919bfef382a9f2000ef7573cd31d7d4"
    index-name="clientes_lachambre"

  >
    <!-- :query-parameters=" { facetFilters: [ 'empresa.proveedor:true'] } "
    :query-parameters="{ facetFilters: ['sector:Servicios jurídicos'] } "
    -->
  <div class="row">
      <div class="dir-alp-con">
          <div class="col-md-3 dir-alp-con-left">


                <ais-refinement-list ref="refSector" attribute-name="sector" :sort-by="[ 'count:desc', 'name:asc']" :limit="25" :classNames="{
                        'ais-refinement-list__count': 'badge',
                        'ais-refinement-list__value': 'item-label',
                        'ais-refinement-list__item': 'checkbox'
                        }">
                        <div class="algolia-facet" slot-scope="data">
                            <span class="bol" @click="mostrar()"></span>
                            <span class="capitalize value">{{ data.value }} </span> <span class="algolia-facet-count">{{ data.count }}</span>
                        </div>
                        <div slot="header" data-v-8769b2fc="" class="dir-alp-con-left-1">
                            <h3 data-v-8769b2fc="">Sectores
                                <!-- <span data-v-8769b2fc="">Mostrando 15 asociados</span> -->
                                </h3>
                        </div>
                </ais-refinement-list>

                <div class="dir-alp-l3 dir-alp-l-com">
							<h4>Delegación</h4>
							<div class="dir-alp-l-com1 dir-alp-p3" style="padding:0">
                                <ais-refinement-list ref="refDelegacion"  attribute-name="delegation" :classNames="{
                                    'ais-refinement-list__count': 'badge',
                                    'ais-refinement-list__value': 'item-label',
                                    'ais-refinement-list__item': 'checkbox'
                                    }">
                                    <!-- <h3 slot="header">Comunidades</h3> -->
                                    <div class="algolia-facet" slot-scope="data">
                                        <span class="bol"></span>
                                        <span class="capitalize value">{{ data.value }} </span> <span class="algolia-facet-count">{{ data.count }}</span>
                                    </div>
                            </ais-refinement-list>

                                 </div>
						</div>
          </div>


        <div class="col-md-9 dir-alp-con-right list-grid-rig-pad">
				<div class="dir-alp-con-right-1">
                    <div class="row" style="padding-bottom:20px;">
                        <div class="col-md-4 col-sm-3">
                            <ais-stats>
                                <template slot-scope="{ totalResults, processingTime, query }">
                                    Total de {{ totalResults }} asociados
                                     <!-- - <small>{{ processingTime }}ms</small> -->
                                </template>
                            </ais-stats>
                            <ais-no-results>
                            <template slot-scope="props">
                                No hay asociados para ese filtro.
                            </template>
                            </ais-no-results>

                        </div>
                         <div class="col-md-8 col-sm-9">
                            <ais-search-box>
                                <div class="input-group">
                                <ais-input
                                placeholder="Busca por nombre o descripción..."
                                :classNames="{
                                    'ais-input': 'form-control'
                                    }"
                                />

                                <span class="input-group-btn">
                                    <ais-clear :classNames="{'ais-clear': 'btn btn-default limpio'}">
                                    <span class="fa fa-remove" aria-hidden="true"></span>
                                    </ais-clear>
                                    <button class="btn btn-default limpio" type="submit">
                                    <span class="fa fa-search" aria-hidden="true"></span>
                                    </button>
                                </span>
                                </div><!-- /input-group -->

                            </ais-search-box>



                        </div>
                    </div>
                    <div class="row">
								<!--LISTINGS-->
								<div class="row " >
								<!-- <div class="row span-none" > -->
                  <destacados :destacados-general="generales" :destacados-sector="destacados" :selected="selected"></destacados>

                                    <div >
                                        <ais-results :results-per-page="20" ref="filterResult">
                                            <template slot-scope="{ result }">

                                                <div class="home-list-pop list-spac">
                                                    <!--LISTINGS IMAGE-->
                                                    <div class="col-md-2 logotipo"> <img :src="(result.imagen)?'/storage/'+result.imagen:'/images/transparente.png'" alt="logotipo"> </div>
                                                    <!--LISTINGS: CONTENT-->
                                                    <div class="col-md-10 home-list-pop-desc inn-list-pop-desc"> <a :href="`/empresas/${result.id}-${result.nombre}`"><h3>{{ result.nombre }}</h3></a>
                                                        <h4>{{ result.sector }}</h4>
                                                        <p><b>Dirección:</b> {{ result.direccion }}.</p>
                                                        <div class="list-number">
                                                            <ul>
                                                                <li><img src="/images/phone.png" alt=""> {{ result.telefono }}</li>
                                                                <li><img src="/images/mail.png" alt=""> {{ result.email }}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="list-enqu-btn">
                                                            <ul>
                                                                <li v-if="result.email"><a href="#!" @click.prevent="$modal.show('contacto', { client: result })"><i class="fa fa-star-o" aria-hidden="true"></i> Contactar</a> </li>
                                                                <li v-if="result.telefono"><a :href="'tel:'+result.telefono"><i class="fa fa-phone" aria-hidden="true"></i> Llamar ahora</a> </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>


                                            </template>
                                        </ais-results>

                                    </div>



								</div>
								<!--LISTINGS END-->
							</div>



				</div>

                <div class="row">

                    <ais-pagination v-on:page-change="onPageChange" :padding="2" :classNames="{
                                                'ais-pagination': 'pagination',
                                                'ais-pagination__item': 'item-label',
                                                'ais-pagination__item--active': 'active',
                                                'ais-pagination__item--disabled': 'disabled'
                                                }">
                            <i slot="next" class="material-icons">chevron_right</i>
                            <i slot="previous" class="material-icons">chevron_left</i>
                            <span slot="last" class="material-icons"></span>
                            <span slot="first" class="material-icons"></span>
                    </ais-pagination>
                </div>
        </div>



        </div>
  </div>
  </ais-index>
</template>

<script>
export default {
    props:['selected','selectedDelegation','destacados','generales'],
    data(){
        return  {
            sectores: false,
            delegaciones: false,
            contadorSectores:0,
            contadorDelegaciones:0
        }
    },
    computed:{
        replica(){
            if (this.sectoresSelected && this.sectoresSelected.length > 0) {
                return 'clientes_lachambre_sector'
            }
            return 'clientes_lachambre'
        },
        sectoresSelected(){
            if(this.sectores){
                return this.sectores.filter((value) => {
                    return value.isRefined
                })
            }
            return null
        },
        delegacionesSelected(){
            if (this.delegaciones) {
                return this.delegaciones.filter((value) => {
                    return value.isRefined
                })
            }
            return null
        }
    },
    watch:{
        sectoresSelected: function(newVal,oldVal){

            if (this.contadorSectores > 0) {
                Event.$emit('cambiosFiltroSector', this.sectoresSelected)
                this.contadorSectores = 0
            }else{ this.contadorSectores++}

        },
        delegacionesSelected: function(newVal,oldVal){
            if (this.contadorDelegaciones > 0) {
                Event.$emit('cambiosFiltroDelegacion', this.delegacionesSelected)
                this.contadorDelegaciones = 0
            }else{ this.contadorDelegaciones++ }
        }
    },
    methods: {
      onPageChange(page) {
        window.scrollTo(0,0);
      },
      mostrar(){
          //alert("eoo")
      }
    },
    filters:{
            thumb: function(img){

				if ( img.indexOf(".png") > 0) {

					return img.replace(".png","-cropped.png")

				}
				if ( img.indexOf(".jpg") > 0) {
					return img.replace(".jpg","-cropped.jpg")

				}
				return img.replace(".jpeg","-cropped.jpeg")
            },
            medium: function(img){

				if ( img.indexOf(".png") > 0) {

					return img.replace(".png","-medium.png")

				}
				if ( img.indexOf(".jpg") > 0) {
					return img.replace(".jpg","-medium.jpg")

				}
				return img.replace(".jpeg","-medium.jpeg")
            }
    },
    mounted() {
        this.$watch(() => this.$refs.refSector.facetValues, (value) => { this.sectores = value } )
        this.$watch(() => this.$refs.refDelegacion.facetValues, (value) => { this.delegaciones = value } )
        if (this.selected) {
            this.$refs.filterResult.searchStore.toggleFacetRefinement('sector', this.selected.nombre);
        }
        if (this.selectedDelegation) {
            console.log("hay algo")
            this.$refs.filterResult.searchStore.toggleFacetRefinement('delegation', this.selectedDelegation.nombre);
        }

    }
}
</script>


<style lang="scss">
    .row{}
   .pagination li.active {
    	background-color: #ee6e73;
	}
	.dir-alp-p3 ul li:nth-child(n+6){
		display:block;
	}
	.logo-empresa{
		position: absolute;
		width: 100px !important;
		left: 0;
		border-radius: 60px !important;
		border: 5px solid #80ba26;
	}
    .ais-refinement-list__label{
        padding:0;
        margin:0;
    }
    .algolia-facet{
        .bol{
            display:inline-block;
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                z-index: 0;
                border: 2px solid #5a5a5a;
                border-radius: 1px;
                margin-top: 2px;
                transition: .2s;
                webkit-transform: rotateZ(90deg);
                transform: rotateZ(90deg);
                -webkit-transform-origin: 20% 40%;
                transform-origin: 100% 100%;

            }
        .value {
            display: block;
            position: relative;
            padding-left: 25px;
            cursor: pointer;
            display: inline-block;
            height: 20px;
            line-height: 25px;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -khtml-user-select: none;
            -ms-user-select: none;



            &:after{
                transform: scale(0);
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                z-index: 0;
                border: 2px solid #5a5a5a;
                border-radius: 1px;
                margin-top: 2px;
                transition: .2s;
            }

        }
        .algolia-facet-count{
            color:gray;
            font-size:0.8em;
        }
    }
    .checkbox {
        input[type=checkbox]{
            position: absolute;
            left: -9999px;
            opacity: 0;

        }
        .ais-refinement-list__checkbox{
            opacity: 1 !important;
            position: relative;
            left:0;
            margin-left: 20px !important;
            &:checked + .algolia-facet>.bol {


                display:inline-block;
                top: -4px;
                left: 14px;
                width: 12px;
                height: 22px;
                border-top: 2px solid transparent;
                border-left: 2px solid transparent;
                border-right: 2px solid #14addb;
                border-bottom: 2px solid #14addb;
                -webkit-transform: rotate(40deg);
                transform: rotate(40deg);
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-transform-origin: 100% 100%;
                transform-origin: 100% 100%;
            }
        }
    }
    .btn-default.limpio{
        box-shadow: none;
        &:hover{
            background: #e6e6e6 !important;
        }
    }
    .destacado{
        background: #ededed !important;
    }
    .destacado_sector{
        background: greenyellow !important;
    }


</style>
