<template>
    <div class="alert alert-flash" 
        :class="'alert-'+level" 
        v-if="show"
        v-text="body">
    </div>
</template>

<script>
    export default {
        props: ['message'],
        data(){
            return{
                body: this.message,
                level: 'success',
                show: false
            }
        },
        methods:{
            flashMessage(data){
                if(data){
                    this.body = data.message;
                    this.level = data.level;
                }
                this.show = true;
                this.hide();
            },
            hide(){
                setTimeout(()=>{
                    this.show = false;
                }, 6000);
            }
        },
        created() {
            console.log('Flash Ready.')

            if (this.message) this.flashMessage();
                
            Event.$on("flash", data => this.flashMessage(data));
        }
    }
</script>

<style lang="scss">
    .alert-flash{
        position: fixed;
        right: 25px;
        top: 75px;
        font-size: 1.5em;
        z-index: 999;
    }
</style>
