@font-face {
    font-family: "Circular-Pro";
    src: url("../fonts/lineto-circular-pro-book.eot");
    src: url("../fonts/lineto-circular-pro-book.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-book.woff") format("woff"), url("../fonts/lineto-circular-pro-book.ttf") format("truetype"), url("../fonts/lineto-circular-pro-book.svg#lineto-circular-pro-book") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro-Book-Italic";
    src: url("../fonts/lineto-circular-pro-bookItalic.eot");
    src: url("../fonts/lineto-circular-pro-bookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bookItalic.woff") format("woff"), url("../fonts/lineto-circular-pro-bookItalic.ttf") format("truetype"), url("../fonts/lineto-circular-pro-bookItalic.svg#lineto-circular-pro-book") format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro";
    src: url("../fonts/lineto-circular-pro-medium.eot");
    src: url("../fonts/lineto-circular-pro-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-medium.woff") format("woff"), url("../fonts/lineto-circular-pro-medium.ttf") format("truetype"), url("../fonts/lineto-circular-pro-medium.svg#lineto-circular-pro-medium") format("svg");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro";
    src: url("../fonts/lineto-circular-pro-bold.eot");
    src: url("../fonts/lineto-circular-pro-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-pro-bold.woff") format("woff"), url("../fonts/lineto-circular-pro-bold.ttf") format("truetype"), url("../fonts/lineto-circular-pro-bold.svg#lineto-circular-pro-bold") format("svg");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Circular-Pro";
    src: url("../fonts/lineto-circular-black.eot");
    src: url("../fonts/lineto-circular-black.eot?#iefix") format("embedded-opentype"), url("../fonts/lineto-circular-black.woff") format("woff"), url("../fonts/lineto-circular-black.ttf") format("truetype"), url("../fonts/lineto-circular-black.svg#lineto-circular-pro-black") format("svg");
    font-weight: 900;
    font-style: normal;
}


body {
    font-family: 'Circular-Pro',sans-serif;
    font-size: 18px;
    font-weight: 300 !important;
  	line-height: 1.3em;
    text-rendering: optimizeSpeed;
    letter-spacing: 0;
  	-webkit-font-smoothing: antialiased;
	  margin: 0px;
    padding: 0px;
    padding-right: 0px !important;
    overflow-x: hidden;
    background: #f9f9f9 !important;

}
h1,
h2,
h3,
h4,
h5,
h6, .dir-alp-con-left-1 h3, .inn-list-pop-desc h3, .dir-alp-l-com h4 {
    font-family: 'Circular-Pro', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
    color: #004079 !important;
}

h1{}
h2{}
h3{}
h4{}
h5{font-size: 18px; font-weight: 700;}
h6{}

p,
a,
li,
span,
label,
tr,
td,
th,
input {
    color: #333;
    font-size: 15px;
    font-family: 'Circular-Pro', sans-serif;
    font-weight: 300;
}
p {margin: 0 0 1em;}

.list-mig-lc-con h5, .home-dis h2  {
    color: #fff !important;
}
.slider-app {
    background: url(../images/fondo.jpg) bottom center;
    /* background-position: 0px 0px; */
    /* background-size: 100%; */
    position: relative;
    overflow: hidden;
    /* padding: 50px 0px 40px 0px; */
    background-repeat-y: no-repeat;
}
.con-page-ri {
    padding: 100px;
}
.waves-effect input[type="button"], .waves-effect input[type="reset"], .waves-effect input[type="submit"] {
    color: #fff;
}
.icos i{width: 2rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    margin-right: 1rem;}


.cat-v2-hom-list ul li a {
    background: #fff;
    display: block;
    margin: 10px;
    text-align: center;
    padding: 28px 20px 20px 20px;
    border-radius: 6px;
    min-height: 190px;
}

.inn-page-bg {
    margin-top: 35px;
    background: url(../images/fondo.jpg) bottom center;
    background-size: contain;
    position: relative;
}
.inn-page-bg:before {
    background: linear-gradient(to top, rgba(32, 52, 76, 0.4) 24%, rgba(0, 0, 0, 0.35) 79%);
}
.algolia-facet .value{font-size: 13px !important; }
.pag-p1-phone ul li {
    color: #636363;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: pre;
    overflow: hidden;
    float: inherit !important;
    display: block ! important;
}
.v3-m-1 img {
    width: 179PX;
}

.com-padd{ padding: 30px 0px}
.slider-app{padding-top: 50px !important}

.dir-ho-t-tit h1 {
    font-size: 50px;
        padding-bottom: 15px;
        padding-top: 20px;
}

.slider-app:before {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.68) 0%, rgba(255, 255, 255, 0.8) 100%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}
.row {
    margin-bottom: 0 !important;
}
.foot-logo img {
    width: 80%;
}



.v3-top-menu {
    -webkit-box-shadow: 0 1px 3px #960;
    -moz-box-shadow: 0 1px 3px #960;
    box-shadow: 0 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.contact-list ul li p.main{font-size: 13px;}

.card {
    margin: 5rem 0 5rem 0 !important;
}

.card-header{
    font-size: 20px;
    padding: 10px;
    margin: 0;
    border-bottom: 1px dashed lightgray;}

.razones{padding: 10px 0;}
.doblesrazones{padding: 20px 0;}
.page-about span {
    display: inline-block;
    padding: 20px 0px;
    font-size: 16px;
    font-style: inherit;
    font-weight: 200;
    color: #a2a2a2;
}
.ficha-organizacion {height: 105px;}
.ficha-organizacion img{float: left;}
.ficha  {
    display: block;
    margin-left: 100px;
    /* margin-top: -10px; */
}
.csc-textpic-imagewrap {
    float: right;margin-left: 40px;}

div.csc-textpic-imagewrap .csc-textpic-image {margin-bottom: 40px;}
.justify{text-align: justify;}

.mensaje ul li{    list-style-type: none;
    background: url(../images/arr.png) no-repeat center left;
    padding-left: 24px;
    background-size: 12px;}

.carousel-cell img{width: 100%;
    max-width: 1000px;
    height: auto;}

.cat-v2-hom-list ul li a img {
        display: block;
        margin: 0 auto;
        margin-bottom: 10px;
        width: 65PX;
    }
    .dir-pop-head h4 {
        color: #fff !important;
    }
    .pop-btn:hover {
        background: #004079;
        border: #004079;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        color: #fff !important;
    }
    .pop-btn {
        outline: none;
        background: transparent;
        border: 1px solid #004079;
        color: #004079 !important;
        padding: 5px 15px;
        border-radius: 2px;
        font-weight: 700;
        font-size: 15px;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }


    .list-enqu-btn ul li a:hover {
        color: #fff !important;
        background-color: #004079;
        border: 1px solid #004079;
    }


    .cat-v2-hom-list p {
  position: relative;
  top: 25px;
  color: #273440;
  font-size: 16px;
  font-weight: 600;
  font-family: 'Circular-Pro', sans-serif;
}
.algolia-facet .value :hover{color: #009cde}

.pg-list-1 {
    /* padding: 80px 0px; */
    background: #fff;
}
.pg-list-1-left p {
    font-size: 17px;
}
.home-list-pop-desc h4, .area {
    color: #009cde !important;padding: 0; font-weight: 700;
}

  .cat-v2-hom-list ul li a:hover,   .cat-v2-hom-list ul li p:hover {
    background: #ccc;
    color: #fff;
}
.dir-alp-tit h1 {
    padding-top: 10px;
}

.list-enqu-btn ul li a {
    border: 1px solid #004079;
    color: #004079;
    box-sizing: border-box;
}
.dir-alp-con-left-1, .dir-alp-l-com1, .dir-alp-l-com h4 {
    background: inherit;
        padding: 34px 0 5px 15px;
}
.dir-alp-con-left-1:after, .dir-alp-con-left-1:before {
display: none;}

.dir-alp-con-left-1 h3 {
}
.dir-alp-l3 {
margin-top: 40px;}

.v4-pril-price b {
    font-size: 58px;
    line-height: 58px;
    color: #fff;
}

.v4-pril-curr {
    font-size: 28px;
    line-height: 40px;
    vertical-align: bottom;
    display: inline-block;
    color: #FBA507;
}


.v4-pril-inn-bot ul li {
    color: #fff;
    line-height: 35px;
    padding: 0px 25px;
}

.v4-pril-inn-top {
    background: #222222;
    color: #eee;
    padding: 60px 25px 35px;
    color: #ECF0F1;
    text-align: center;
}
#fijo{position: ;}
.prueba{
   height: 600px;
    overflow: scroll;
}

.v4-pril-inn-top h2 {
    font-size: 16px;
    margin: 20px 0 5px;
    font-weight: normal;
}
.v4-pri-best {
    width: 200px;
    position: absolute;
    top: 20px;
    left: -55px;
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
    color: #222;
    font-weight: bold;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    background-color: #FBA507;
    font-size: 12px;
}
.pg-list-1-left {
    width: 60%;
}

.pg-list-1-right {
    width: 40%;
}

.list-pg-map iframe{height: 300px !important;}


.dir-ho-t-tit h1 {
    color: #004079;
    text-shadow: none;
}
.dir-ho-t-tit p {
    color: #004079;
    text-shadow: none;
}
.pglist-p-com-ti {
    display: none;
}

.bannertop{background: #fff;}
/* .bannertop img{width: auto !important;} */

.list-mig-like-com {
    position: relative;
    border-radius: 10px;
    margin-bottom: 20px;
    background: transparent;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.list-mig-like-com:before {
    background: none;}

.v4-pril-inn-bot ul {
    min-height: 180px;
}

.algolia-facet .bol {
    top: 3px !important;
}
.algolia-facet .value {
    padding-left: 25px !important;}


.v4-pril-inn-bot {
    min-height: 280px;
}
.v3-mob-m-1 {
    float: left;
    margin-top: 15px;
}
.v3-mob-m-1 img {
    width: 130px;
}

.v3-m-2 ul li a:hover, a:focus, a:active {
    color: #004079 !important;
    text-decoration: underline;
}

footer h4 {
    color: #fff !important;
}
.collapsible-body span img {
    width: 20px;
    margin-right: 15px;}

    .collapsible-body span {
        font-size: 16px;
        display: block;
        padding-top: 5px;
    }
    .collapsible-body {
        padding: 20px 30px;
    }

@media screen and (max-width: 767px){
  .v3-mob-m-2 ul li:nth-child(1), .v3-mob-m-2 ul li:nth-child(2) {display: block !important;}

}

  @media screen and (max-width: 992px){
  .com-padd {
      padding-top: 0 !important;
      padding-bottom: 40px !important;
  }
