<template>
    <div class="contact-list">
    <div id="fijo">
        <input  placeholder="Buscar contacto" type="text" v-model="search">
    </div>
    <div class="prueba">
        <ul>
            <li v-for="(contact,index) in filteredItems" :key="contact.id" @click="selectContact(contact)" :class="{ 'selected': contact == selected }">
                <div class="contact">
                    <p class="main">{{ contact.name }}</p>
                </div>
                <span class="unread" v-if="contact.unread">{{ contact.unread }}</span>
            </li>
        </ul>
      </div>
    </div>
</template>

<script>
    export default {
        props: {
            contacts: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                selected: this.contacts.length ? this.contacts[0] : null,
                search: ''
            }
        },
        methods: {
            selectContact(contact) {
                this.selected = contact;
                this.$emit('selected', contact);
            }
        },
        computed: {
            sortedContacts() {
                let unread = this.contacts.filter(contact => contact.unread > 0)
                unread = _.sortBy(unread, 'unread')
                let nomessage = this.contacts.filter(contact => contact.unread == 0)
                let all =  unread.concat(nomessage);

                return all;
            },
            filteredItems(){
                return this.sortedContacts.filter(item => {
                    return item.name.toLowerCase().indexOf(this.search.toLowerCase()) > -1
                })
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
<style lang="scss" scoped>
    .contact-list {
        flex: 2;
        border-left: 1px solid #a6a6a6;

        ul {
            list-style-type: none;
            padding-left: 0;
            li {
                display: flex;
                padding: 2px;
                border-bottom: 1px solid #e6e9ec;
                height: 40px;
                position: relative;
                cursor: pointer;
                &.selected {
                background: #f3f6f8;
                box-shadow: 4px 0 0 #0073b1 inset, 0 -1px 0 #f3f6f8 inset;
                padding-left: 12px;
                }
                span.unread {
                    background: #82e0a8;
                    color: #fff;
                    position: absolute;
                    right: 11px;
                    top: 10px;
                    display: flex;
                    font-weight: 700;
                    min-width: 20px;
                    justify-content: center;
                    align-items: center;
                    line-height: 20px;
                    font-size: 12px;
                    padding: 0 4px;
                    border-radius: 3px;
                }
                .avatar {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    img {
                        width: 35px;
                        border-radius: 50%;
                        margin: 0 auto;
                    }
                }
                .contact {
                    flex: 3;
                    font-size: 10px;
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    p {
                        margin: 0;
                        &.name {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
</style>
