<template>
        <span class="badge" style="color:white;margin-left: 0;background-color: #82e0a8">{{ messages.length}}</span>
</template>

<script>
    export default {

        props: {
            user: {
                type: Object,
                required: true
            }
        },
        data() {
            return {
                messages: []
            };
        },
        mounted() {
            axios.get(`/getTotalMessagesFor`)
                .then((response) => {
                    this.messages = response.data;
                                    })
        },
        methods: {}
    }
</script>


<style lang="scss" scoped>
</style>