
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

.destacada {
    background: #ededed !important;
}
.dir-alp-con {
    border-radius: 0px;
    background-color: rgb(249, 249, 249);
}
.dir-alp-con-left-1 {
    background: #20344c;
    color: #fff;
    padding: 25px;
}

.alp-con-left-1::before {
    top: 72px;
    left: 48%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.dir-alp-con-left-1::after {
    border-color: rgba(136, 183, 213, 0);
        border-top-color: rgba(136, 183, 213, 0);
    border-top-color: #20344c;
    border-width: 9px;
    margin-left: -9px;
}

.dir-alp-l-com1 a {
    margin-top: 5px;
    background: #20344c;
    color: #fff;
    font-weight: 500;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #1d2b3c;
}

.dir-alp-l-com h4 {
    background: #20344c;
    color: #ffffff;
}

.pg-list-1 {
    &::before{
        background: none;
    }
    margin-top: 60px;
    background-size: cover;
    background: #ededed;
    position: relative;
    padding: 80px 0px 20px 0;
    width: 100%;
    box-sizing: content-box;
}

.pglist-p-com-ti-right h3 {
    background: #20334c;
    color: #fff;
    font-size: 15px;
}
.pg-list-1-left {
    h3,h4,h5,p {

        color: #333;
    }
}
.area {
    background: #ffffff;
    border-radius: 3px;
    padding: 0 10px;
}
.modal-dialog{
    margin:0px auto;
}